.menu div {
  display: inline-block;
  margin-left: 20px;
  background: white;
}

.option div {
  display: inline-block;
  margin-right: 20px;
}

.settings div {
  display: inline-block;
  margin-right: 20px;
}

.left {
  text-align: left;
}

.float_left {
  float: left;
  width: 50%;
}

.right {
  text-align: right;
  display: block;
}

.float_right {
  float: right;
  width: 50%;
}

body{
  background-color: white;
}

header {
  background: white;
}

h1 {
  font-size: 40px;
  font-family: serif;
  color: white;
}

.sneakers {
  background: linear-gradient(to right, #f0c, #ff5e00);
  font-family: monospace;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.sneakers a {
  color:salmon;
  background:white;
  padding:10px 20px;
  text-decoration:none;
  border-radius: 4px;
  text-transform:uppercase;
}

.sneakers img {
  float: left;
  width: 100%;
}



.clearfix {
  overflow: auto;
  scroll-behavior: 1;
}

footer {
  background: white;
}

h3 {
  text-align: center;
  background-color: pink;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 12px;
}

.related-products a{
  margin-right: 20px;
  color: red;
}

.shop-recommended-shoes div{
  display: inline-block;
  width: 30.9%;
  margin-right: -4px;
  padding: 5px;
  color: white;
}

.shop-recommended-shoes {
  background: linear-gradient(to right, #f0c, #ff5e00);
}

.shoes {
  display: block;
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

.related-products h3{
  font-size: 30px;
  text-align: left;
  background-color: white;
}

.related-products p{
  font-size: 20px;
}
